body {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  font-size: 12px;
  margin: 20px;
  width: 50vw;
}

th {
  border: 1px solid slategrey;
  border-radius: 4px;
  background-color: #f1f1f1;
  color: slategrey;
  text-align: left;
  padding: 5px 10px;
}

td {
  text-align: left;
  padding: 10px;
  color: #6384a8;
  border-bottom: 1px solid #f1f1f1;
}
